<IfModule mod_rewrite.c>
	Options -Indexes
	Options +FollowSymLinks

	RewriteEngine on

# Save image permanently
	RewriteCond %{QUERY_STRING} ^save=([^&]*)$
    RewriteRule folio/albums/(.*)/(.*)$ save.php?password=%1&album=$1&file=$2

# Attempt to find removed image in saved images directory
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule folio/albums/(.*)/(.*)$ /folio/saved/$2 [NC,L,QSA]

</IfModule>